
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
body{
    margin:auto;
    overflow:-moz-hidden-unscrollable;
}
.background{
    width:200vw;
    height:110vw;
background-size:150vw 110vw;
    background-color: #fff;
    background-image: url(compressedMain.png);
    background-repeat:round no-repeat;
    margin-top:-70vw;
    margin-left:-15vw;
    
    overflow:hidden;
    z-index:-100;
    
}

#homeButton{
text-decoration: none;
position:absolute;
overflow:hidden;
top:1.7vw;
left:3.25vw;
margin:0;
}
#topLogo{
    font-family:"Inter";
    font-size:1.5vw;
    color:black;
    
}
#backgroundHolder{
    position:absolute;
    max-width: 100%;
    z-index:-10;
    overflow:hidden;
    margin:0vw;
}
#mainGrid{
    display:grid;
    grid-template-columns: 50%;
    grid-template-rows: 12.5vw 30vw 20vw 20vw 20vw 40vw 15vw;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
#intro{
    
    grid-column: 1 / 2;
    grid-row: 2/3;
    opacity:0;
    animation-name:fadeIn;
    animation-delay:.5s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.introTxt{
    font-size: 2.25vw;
    margin-left:6vw;
    font-family:"Inter";
    font-weight: 700;
    margin-bottom:1.25vw;
}
.basicButton{
    display: inline;
    text-decoration: none;
    font-family: "Inter";
    font-weight:500;
    margin-left:6vw;
    font-size:1vw;
    text-align: center;
    height: 1vw;
    
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top:.5vw;
    padding-bottom:.5vw;
background: #AFECFF;
border-radius: .5vw;
color:black;
transition: filter 0.25s ease-in-out;
}
.purpleFaded{
    background: #D2AFFF;
opacity: 0.6;
margin-left:2vw;
}
.purpleButton{
    margin-left:2vw;
    background: #D2AFFF;


}

.first{
    
    grid-column: 1 / 2;
    grid-row:3/4;
    
}
.midHeader{
    margin-left:6vw;
    margin-bottom:1vw;
    color:black;
    font-size: 1.5vw;
    font-family: "Inter";
    font: weight 700px;;
}
.midTxt{
    margin-left:6vw;
    color:black;
    font-size: 1vw;
    font-family: "Inter";
    font-weight: 400;
    margin-top: 0;
}
.second{
    
    text-align: right;
    
    
    grid-column: 2/3;
    grid-row:4/5;
}
.firstImg{
    grid-column: 2/3;
    grid-row:3/4;
    align-items: right;

}
#weedPic{
    float: right;
    max-width: 20vw;
    margin-right: 6vw;
    justify-content: center;
    border-radius: 3vw;
}
.secondImg{
    grid-column:1/2;
    grid-row:4/5;
    

}
.right{
    margin-right:6vw;
    margin-left:0;
}
.greenButton{
    background: #AFFFB7;
}
.third{
    grid-column:1/2;
    grid-row:5/6;
}
.yellowButton{
    background: #FFDFAF;
}
.greyBox{
grid-row:6/7;
grid-column: 1/4;
height:40vw;
width:100%;
display:inline-flex;
background: #ECECEC;
justify-content: center;
align-items: center;



}
.footer{
    grid-row:7/8;
    grid-column: 1/4;
    background:#fff;
    height:15vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%
}
.greyText{
    display:flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
    gap:1vw;
    margin-left:2vw;
    margin-right:2vw;

}

.greyHeader{
    font-size: 3vw;
    font-family: "Inter";
    font-weight:700;
    margin-bottom:0;
    color:black;

}
.green{
    color: #4ADA33;
}
.greyDescription{
    margin-top:0vw;
    font-size: 1.5vw;
    font-family: "Inter";
    font-weight:700;
}
.purple{
    color: #A259FE;


}
.basicButton:hover {
    
    filter: brightness(75%);
    
  }
  .purpleFaded:hover{
    filter: brightness(100%);  
  }
  
  .footer{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .links{
      display:inline-flex;
      gap:2vw;
      align-items: center;
      margin-top: 1vw;
      margin-left:-2vw;
      
  }
  #coinImage{
      max-width: 20vw;
  }
  #buildingClipart{
      max-width:30vw;
      max-height:20vw;
      margin-left:6vw;
      float:left;
    margin-left:6vw;
  }
  .bottomLink{
      max-width: 5vw;
  }
  
  
  /* The element to apply the animation to */
  
  @media (max-width:800px) {
    .midHeader{
        font-size:4vw;
        margin-left:0;
       
        margin-right: 0;
    }
    .basicButton{
        font-size:3.5vw;
        padding:1vw;
        border-radius: 1vw;
    }
    .middleButtons{
        margin-left:0vw;
        margin-right: 0;
    
    }
    .midTxt{
        font-size:3vw;
        margin-left:0vw;
        margin-right: 0;
        
    }
    #weedPic{
        margin-right:0;
        
        float:left;
        margin-top: 5vw;
        max-width:35vw;
    }
    
    #topLogo{
        font-size:5vw;
    }
    .introTxt{
        
        margin-top: 5vw;
        font-size:3vw;
    }
    .greyBox{
        margin-top: 2vw;
    }
    #mainGrid{
        
        display:grid;
        grid-template-columns: 50%;
        grid-template-rows: 12.5vw 25vw 45vw 45vw 45vw 45vw 45vw 50vw 25vw;
              
            }
            .first{
                grid-column: 1/3;
                grid-row:3/4;
                max-width: 80%;
                text-align: left;
               margin:auto;
               align-self: center;
               align-content: center;
        
            }
           
           
            .firstImg{
                grid-column: 1/3;
                grid-row:4/5;
                margin:auto;
                float:left;
               
            }
            
            .second{
                grid-column: 1/3;
                grid-row:5/6;
                max-width: 80%;
                text-align: left;
               margin:auto;
               align-content: center;
        
            }
            .secondImg{
                grid-column:1/3;
                grid-row:6/7;
                float:left;
                justify-self: left;
              margin:auto;

            }
            .third{
                grid-column: 1/3;
                grid-row:7/8;
                max-width: 80%;
                text-align: left;
               margin:auto;
               align-content: center;   
            }
            #buildingClipart{
                float:left;
                margin-left: 0;
                max-width:55vw;
margin-top:5vw;
            }
            .right{
                margin-right:0;
            }
            .greyBox{
                grid-row:8/9;
                margin-left:0;
                margin-top:10vw;
            }
            .footer{
                grid-row:9/10
            }
            #intro{
                grid-column: 1/3;
                max-width: 70%;
                text-align: center;
               margin:auto;
               left:0;
               margin-top: 4vw;
               align-content: center; 
            }
            .introTxt{
                margin-left:0;
                font-size:4vw;
            }
            .greyHeader{
                font-size:4vw;
            }
            .greyDescription{
                font-size:2vw;
            }
            .bottomLink{
                margin-top: 0vw;
                max-width: 15vw;
            }
            .links{
                gap:3vw;
            }
            .footer{
                margin-top:5vw;
            }
          }
    
   
